/* =========== contextual help =============== */

#contextual-help table {
	font-size: 14px;
	width: auto;
	margin: 1em auto;
}

#contextual-help table,
#contextual-help th,
#contextual-help td {
	border: 1px solid white;
	border-collapse: collapse;
	padding: 6px;
	font-weight: normal;
}

#contextual-help .table-title{
	font-size: 140%;
	font-weight: bold;
}

#contextual-help th {
	font-weight: bold;
}

#contextual-help td {
	font-style: normal;
}

#contextual-help {
	margin-top: 40px;
}

#contextual-help .italic {
	font-style: italic;
	white-space: nowrap;
}

#contextual-help .bold {
	font-weight: bolder;
	color: yellow;
	font-size: 120%;
}

/* =========== contextual help end =============== */


/* =========== right menu =============== */

#right-and-search-menu li {
	/* padding: 0 .5em; */
	/* cursor: pointer; */
	font-size: 90%;
}

#right-and-search-menu.expanded #search-field {
	min-width: 14em;
}

#right-and-search-menu li ul li.radio.active:not(.selected),
#right-and-search-menu li ul li:not(.radio) {
	cursor: pointer;
}

#right-and-search-menu.expanded li {
	float: none;
	text-align: right;
}

#right-and-search-menu.expanded li {
	padding: .1em 0;
	padding-right: .3em
}

#right-and-search-menu.expanded li.sized {
	padding-left: 2em;
}


#right-and-search-menu.expanded {
	background-color:rgba(0, 0, 0, 0.7);
	min-width: 15em;
}

#right-and-search-menu.expanded li {
	display: list-item;
	text-align: left;
	font-style: italic;
}

#right-and-search-menu .menu li.expandable span.caption {
	/*text-align: left;*/
	padding-right: 2em;
	font-variant: small-caps;
	font-weight: bold;
	font-style: normal;
	font-size: 115%;
}

#right-and-search-menu.expanded li {
	clear: both;
}

#menu-icon.expanded, #menu-icon:hover,
#search-icon.expanded, #search-icon:hover,
#slideshow-icon:hover,
#right-and-search-menu .info-icon.expanded,
#right-and-search-menu .info-icon:hover {
	opacity: 100%;
}

a.search-link {
	color: orange;
}

a.search-link:hover {
	color: orangered;
}

#right-and-search-menu.expanded .selected {
	background-image: url(../img/ic_check_circle_black_24dp_1x.png);
	background-repeat: no-repeat;
	background-position: right;
}

#right-and-search-menu.expanded li li:not(.active) {
	color: gray;
	cursor: default !important;
}

#right-and-search-menu.expanded li li:not(.active):hover {
	color: lightgray;
}

#right-and-search-menu.expanded li:not(.active, .sub-menu) {
}

#right-and-search-menu li.highlighted-menu .caption:hover,
#right-and-search-menu ul ul li.active.highlighted-menu:hover {
	background-color: orangered !important;
}

#right-and-search-menu.expanded li a {
	display: inline-block;
	width: 100%;
}

#right-and-search-menu.expanded li span.caption:not(#padlock):not(#menu-icon):not(.info-icon) {
	display: inline-block;
	width: 100%;
}

#right-and-search-menu.expanded ul li:not(.active):hover {
	/* background-color: black !important; */
}

#right-and-search-menu.expanded ul {
	list-style: none;
	padding-inline-start: 1em;
	margin-block: 0;
}

#right-and-search-menu ul li.download-album.active {
	cursor: pointer;
}

.download-album ul .command.active:not(.red) {
	font-weight: bold;
}

.download-album.red {
	background-color:rgba(255, 0, 0, 0.35);
}

.download-album.red.active {
	background-color:rgba(255, 165, 0, 0.35);
}

.download-album.red:not(.active) {
	font-weight: bold;
}

.download-album.red:not(.active) {
	cursor: auto !important;
}

.download-option {
	margin-left: 1em;
}

.download-option-change {
	padding: 0 5px;
	text-align: center;
}

#right-and-search-menu.expanded li.download-album li .download-option {
	text-wrap: nowrap;
}

#right-and-search-menu.expanded li.download-album li .download-option span {
	display: inline;
}

#right-and-search-menu.expanded li.download-album li 	.download-option-change {
	font-style: normal;
	position: absolute;
	right: 35px;
	border: white solid 1px;
}
/* ========= end right menu =========== */

/* ======= Slideshow ======== */

#started-slideshow .smaller {
	font-size: 70%;
	font-style: normal;
}

#slideshow-buttons {
	position: absolute;
	width: fit-content;
}

.slideshow-button {
	width: fit-content;
	display: none;
	border: 3px solid white;
	padding: 3px;
	opacity: 0.5;
	cursor: pointer;
	float: left;
}

#started-slideshow-interval-wrapper {
	display: inline-flex;
	width: fit-content;
}

#started-slideshow-interval {
	float: left;
	padding-right: 8px;
}

#started-slideshow-speed-up,
#started-slideshow-slow-down {
	padding-left: 5px;
	padding-right: 5px;
	border: none;
	background-color: white;
	color: black;
	font-weight: bolder;
	padding-top: 0;
	padding-bottom: 0;
	text-align: center;
}

#started-slideshow-interval,
#started-slideshow-speed-up,
#started-slideshow-slow-down {
	font-size: 108%;
}

#started-slideshow-slow-down {
	margin-right: 3px;
}

#started-slideshow-stop,
#started-slideshow-pause,
#started-slideshow-play,
#started-slideshow-orientation-auto {
	padding: 0;
	padding-top: 5px;
}

#started-slideshow-stop img,
#started-slideshow-pause img,
#started-slideshow-play img {
	height: 21px;
	width: 26px;
}

#started-slideshow-orientation-auto img {
	height: 21px;
	width: 26px;
}

#media-box.rotation .media-box-inner img,
.rotate-90 {
	-webkit-transform: rotate(90deg);
	-moz-transform: rotate(90deg);
	-o-transform: rotate(90deg);
	-ms-transform: rotate(90deg);
	transform: rotate(90deg);
}

#started-slideshow-orientation-auto.active {
	background-color: gray;
}

/* ======= slideshow end  ======== */


/* ======= download ======== */

#file-name-for-adding-to-zip {
	font-size: 40%;
	line-height: 2em;
}

#please-fill {
	display: none;
	color: red;
	background-color: yellow;
	margin-left: auto;
	margin-right: auto;
	padding: .2em;
	padding-left: 1em;
	padding-right: 1em;
	font-weight: bold;
	font-size: 125%;
}

#downloading-and-zipping {
	display: none;
}

#preparing-zip-closing {
	font-size: 70%;
}

/* ======= download end ======== */


/* ========== auth dialog =========== */

#auth-text {
	z-index: 2000;
	border: 2px solid white;
	height: auto;
	padding: 1em;
	background-color: black;
	opacity: .6;
}

#auth-text .close-button {
	right: 22px;
}

#auth-question, #enter-your-data {
	font-size: 200%;
	margin-bottom: 1em;
}

#enter-your-data {
	margin-top: 1em;
}

#auth-text input {
	color: rgb(0, 0, 0);
	background-color: rgb(200, 200, 200);
	border: 0;
	font-family: inherit;
	font-size: 80%;
	font-weight: bold;
	margin-right: auto;
	margin-left: auto;
	padding: .1em;
	caret-color: red;
}

#request-password {
	cursor: pointer;
	margin-top: 1em;
	font-size: 80%;
}

#password-request-form {
	display: none;
}

#email-not-sent .little {
	font-size: 30%;
}

/* ========== auth dialog end =========== */
