body {
	margin: 0;
	padding: 0;
	background-color: #222222;
	font-family: "LM Roman", "Georgia", "Palatino Linotype", "Palatino", "Times New Roman", "Times", serif;
	color: #FFFFFF;
}

a {
	color: white;
	text-decoration: none;
}
a:hover {
	/* color: yellow; */
}

.title, .title:hover {
	font-size: medium;
	padding: 0.4em;
	font-weight: bold;
	line-height: 1.3em;
	text-align: left;
	cursor: default;
}

.title {
	white-space: nowrap;
	overflow: hidden;
	overflow-x: scroll;
}

.title::-webkit-scrollbar {
	display: none;  /* Safari and Chrome */
	background: transparent;
}

.fullScreen .title {
	display: none;
}

#media-view .title, #album-and-media-container.single-media #album-view {
	z-index: -1;
}

#album-view .title {
	padding-left: 0;
	padding-top: 0;
	margin-left: -30px;
}

#media-view .title {
	margin-left: 5px;
}

#album-view .title.hidden {
	padding: 0;
}

.title-string {
	 vertical-align: middle;
}
.title-count {
	font-size: 80%;
	font-style: italic;
	font-weight: normal;
	opacity: 0.7;
	filter: alpha(opacity=70); /* For IE8 and earlier */
}

.title-count-detail {
	cursor: pointer;
}

#fullscreen-wrapper:not(.hide-geotagged) .title .hidden-geotagged-media,
#fullscreen-wrapper.hide-geotagged .all,
#fullscreen-wrapper.hide-geotagged .gps,
#fullscreen-wrapper.hide-geotagged .all-gps {
	display: none;
}

#fullscreen-wrapper:not(.hide-geotagged) .non-gps {
	display: none;
}

.hidden-geotagged-media {
	color: black;
	background-color: red;
	cursor: pointer;
}

.hidden, .hidden-by-option,
.hidden-by-pinch,
.hidden-by-no-results,
.hidden-by-button,
.hidden-by-map,
.hidden-by-menu-selection,
.filtered-out {
	display: none !important;
}

#fullscreen-wrapper.fullScreen #album-and-media-container.single-media #thumbs,
#fullscreen-wrapper.fullScreen .title,
#fullscreen-wrapper:not(.fullScreen) #slideshow-buttons {
	display: none;
}

img.title-img {
	padding-right: .5em;
	height: 22px;
	width: auto;
	margin-top: -6px;
}

img.thumbnail-img {
	padding-left: .5em;
}

.title-anchor,
.title-no-anchor,
.title-main .media-name,
.map-link,
.selection-link,
.search-link,
.folder-name img {
	padding: 0 .5em;
}

.first-line, .second-line {
	line-height: 150%;
}

.media-name .first-line,
.media-name .second-line {
	display: inline-block;
}

.second-line {
	font-size: 75%;
	margin-top: 5px;
	line-height: 150%;
}

.gray {
	font-size: 95%;
	color: gray;
}

#popup-images-wrapper .gray {
	color: darkslategray;
}

.separated {
	padding-left: .6em;
	padding-right: .6em;
}

.title-anchor.italic {
	font-style: italic;
}

.italic {
	font-style: italic;
	/* color: gray; */
}

.normal {
	font-style: normal;
	/* color: gray; */
}

.dots-surroundings {
	display: none;
}

.messages .browsing-mode-message {
	display: none;
}

.space-before {
	margin-left: 1em;
	margin-top: .8em;
	display: inline-block;
}

#album-view {
	position: absolute;
	padding: 12px;
}

#thumbs {
	clear: both;
}

#album-and-media-container:not(.single-media) #thumbs {
	padding-top: 1em;
	display: table;
}

#thumbs img {
	border: 0;
}

.thumb-and-caption-container {
	/* border-top: 4px solid #222222 !important;
	border-bottom: 4px solid #222222 !important; */
	margin-top: 0;
}

.thumb-container.current-thumb {
	border-top: 6px solid #FFAD27 !important;
	margin-top: 0;
}

#subalbums {
	padding-top: .2em;
	padding-bottom: 1em;
	overflow: hidden;
}

.album-button-and-caption {
	float: left;
	height: 250px;
	width: 200px;
	cursor: pointer;
	border: 1px solid white;
}

.album-button-and-caption.slide {
	border: 3px solid gray;
	border-left-color: whitesmoke;
	border-top-color: whitesmoke;
}

.album-button-and-caption.slide:hover {
	border: 3px solid gray;
	border-right-color: whitesmoke;
	border-bottom-color: whitesmoke;
}

.album-caption {
	margin: 0 auto;
	height: auto;
	color: white;
	font-size: inherit;
}

.album-caption, .media-caption {
	position: relative;
}

.album-caption a {
	color: inherit;
}

.album-name,
.album-description,
.album-tags,
.album-bottom {
	width: 100%;
	/* position:absolute; */
}

.album-bottom {
	position: absolute;
}

.media-caption .media-name,
.media-caption .media-description,
.media-caption .media-tags,
.media-caption .media-bottom {
	width: 100%;
}

.media-caption .media-bottom {
	position: absolute;
}

.album-bottom, .media-bottom {
	margin-bottom: .3em;
	bottom: 0;
}

.album-description, .media-description {
	font-style: italic;
	/* padding-left: .7em;
	padding-right: .7em; */
}

.media-description {
	text-align: left;
}

.media-caption .media-description {
	text-align: center;
}

.album-description {
	line-height: 1.1em;
}

.album-bottom,
.album-description,
.album-tags {
	margin-top: .3em;
}

.album-caption-count {
	/* margin-top: .2em; */
	text-align: center;
	opacity: 0.7;
	filter: alpha(opacity=70); /* For IE8 and earlier */
	font-size: 85%;
	/* padding-top: .5em; */
}

.media-bottom {
	padding-top: .8em;
}

.sort-data {
	font-size: 75%;
	opacity: 0.7;
	display: none;
}

p.description-p,
p.description-p ul {
	margin-top: .1em;
	margin-bottom: 0;
}
.description ul {
	padding-inline-start: 1.5em;
}

.ellipsis {
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	text-align: center;
}


/* this class is needed in order to get the thumbnails vertically centered,
 * see https://stackoverflow.com/questions/7273338/how-to-vertically-align-an-image-inside-a-div#7310398*/
.helper {
	display: inline-block;
	height: 100%;
	vertical-align: middle;
}
.album-button {
	border: 1px solid lightgray;
	border-right-color: whitesmoke;
	border-bottom-color: whitesmoke;
	white-space: nowrap;
	text-align: center;
	float: left;
	display: block;
	height: 200px;
	text-align: center;
	font-style: italic;
	font-size: 90%;
	background-color: inherit;
	margin: 0 auto;
	line-height: 1.1em;
	position: relative;
}

.album-button-and-caption:hover .album-button,
.album-button-and-caption:hover .select-box,
.album-button-and-caption:hover .thumbnail-map-link,
.album-button-and-caption:hover .album-button-random-media-link {
	padding-left: 2px;
	padding-top: 2px;
}

.name-in-audio {
	position: absolute;
	bottom: 30px;
	opacity: 0.5;
	margin: 10px;
	background-color: white;
	white-space: normal;
	color: black;
	padding: 3px;
	word-break: break-all;
	max-height: 50%;
	text-align: center;
}

#album-and-media-container.single-media .name-in-audio {
	display: block !important;
}

.album-button-and-caption.slide:hover .album-button {
	border-left-color: whitesmoke;
	border-top-color: whitesmoke;
	border-right-color: lightgray;
	border-bottom-color: lightgray;
}

.album-button-and-caption:hover,
.thumb-and-caption-container:hover .thumb-container {
	opacity: 1;
	filter: alpha(opacity=100); /* For IE8 and earlier */
}

.album-button img,
.thumb-container img {
	vertical-align: middle;
	max-width: 100%;
	max-height: 100%;
	height: auto;
}

#thumbs .thumb-container img.thumbnail {
/*
	do not remove, useful for debugging purpose
*/
}

#subalbums .album-button-random-media-link,
#thumbs .thumbnail-map-link,
#subalbums .thumbnail-map-link,
#thumbs .select-box,
#subalbums .select-box,
#select-box,
#popup-images-wrapper .select-box {
	filter: alpha(opacity=30); /* For IE8 and earlier */
	opacity: .3;
	cursor: pointer;
	z-index: 1;
}

#subalbums .album-button-random-media-link,
#thumbs .thumbnail-map-link,
#subalbums .thumbnail-map-link,
#thumbs .select-box,
#subalbums .select-box,
#select-box,
#popup-images-wrapper .select-box {
	position: absolute;
}

#subalbums .album-button-random-media-link {
	top: 5px;
	left: 5px;
	height: 30px;
}

#request-password:hover {
	color: black;
	background-color: white;
}

#subalbums .album-button-random-media-link,
#thumbs .thumbnail-map-link,
#subalbums .thumbnail-map-link,
#thumbs .select-box,
#subalbums .select-box,
#select-box,
#popup-images-wrapper .select-box {
	height: 30px;
	width: auto;
}

#thumbs .thumbnail-map-link,
#subalbums .thumbnail-map-link {
	top: 5px;
	right: 5px;
}

#thumbs .select-box,
#subalbums .select-box,
#select-box,
#popup-images-wrapper .select-box {
	bottom: 5px;
	left: 5px;
}

#select-box {
	position: fixed;
}

#subalbums .album-button-random-media-link:hover,
#thumbs .thumbnail-map-link:hover,
#subalbums .thumbnail-map-link:hover,
#thumbs .select-box:hover,
#subalbums .select-box:hover,
#select-box:hover {
	opacity: .6;
	filter: alpha(opacity=60); /* For IE8 and earlier */
}

#next, #prev {
	position: absolute;
	width: auto;
	height: auto;
	opacity: 0.35;
	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=35)";
	filter: alpha(opacity=35);
}

#prev {
	left: 0;
}

#next {
	right: 0;
}

#next:hover, #prev:hover {
	cursor: pointer;
	opacity: 0.7;
}

#up-button {
	cursor: pointer;
	position: fixed;
	top: 40px;
	left: 20px;
	z-index: 100;
	height: auto;
	width: 70px;
	opacity: 50%;
}

#up-button:hover {
	opacity: 75%;
}

#map-button-container {
	position: absolute;
	z-index: 10;
	/* width: 34px;
	height: 30px; */
	opacity: 0.4;
	cursor: pointer;
}

#map-button-container:hover {
	opacity: 0.7;
}

#pinch-container {
	position: absolute;
	z-index: 10;
	width: 30px;
	height: 62px;
}

img.pinch {
	background-color: black;
	opacity: 0.4;
	cursor: pointer;
	position: relative;;
}

img.pinch:hover {
	opacity: 0.7;
}

img.pinch.disabled {
	opacity: 0.1;
	cursor: default;
}

.media-box {
	display: block;
	float: left;
	position: relative;
}

#media-view {
	position: absolute;
	overflow: hidden;
	/* margin-bottom: 8px; */
	left: 0;
	right: 0;
	text-align: center;
	/* z-index: -1; */
	width: 100%;
	cursor: ew-resize;
}

#media-box-container {
	/* float: left; */
	/* display: inline; */
	transition-property: transform;
	transition-timing-function: ease-out;
	transform: translate(0px, 0px);
	transition-duration: 0s;
	overflow: hidden;
}

video {
	cursor: default;
}

#media-view.no-bottom-space {
/*
	bottom: 0 !important;
*/
	bottom: 0;
}

.media-box-inner {
	display: block;
	position: relative;
}

.media-box-inner img,
.media-box-inner video {
	max-height: 100%;
	max-width: 100%;
	width: auto;
	height: auto;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
}

.media-box-inner audio {
	position: absolute;
	top: 50%;
	display: table;
	width: 60%;
	margin: auto 20%;
}

#album-view.no-bottom-space {
	height: 0;
	bottom: 1em;
}

#album-and-media-container.single-media #album-view {
	position: absolute;
	width: 100%;
	bottom: 0;
	top: auto !important;
	overflow-x: auto;
	overflow-y: hidden;
	white-space: nowrap;
	padding: 0 !important;
	text-align: center;
}

#album-and-media-container.single-media #thumbs {
	margin-left: auto;
	margin-right: auto;
}

#album-and-media-container.single-media #subalbums,
#album-and-media-container.single-media.one-media #thumbs,
#album-and-media-container.single-media .media-caption,
#media-view.one-media #next,
#media-view.one-media #prev {
	display: none;
}

#album-and-media-container.single-media #album-view.no-bottom-space {
	height: 0;
	bottom: 15px;
}

.media-bar {
	position: sticky;
	bottom: 0;
	width: 100%;
	text-align: center;
	display: none;
}

#fullscreen-wrapper.fullScreen .media-bar {
	display: none !important;
}

.links {
	background-color: #000000;
	font-weight: bold;
	height: 10px;
	font-size: 80%;
	line-height: 7px;
	padding-top: 3px;
	padding-bottom: 3px;
	padding-right: 10px;
	padding-left: 10px;
	display: none;
	border-top-right-radius: 5px;
	border-top-left-radius: 5px;
	-moz-border-top-right-radius: 5px;
	-moz-border-top-left-radius: 5px;
	-webkit-border-top-right-radius: 5px;
	-webkit-border-top-left-radius: 5px;
	cursor: pointer;
}

.links.hidden {
	display: none !important;
}

.link-button {
	white-space: nowrap;
}

.metadata {
	background-color: #000000;
	width: 340px;
	font-size: 75%;
	line-height: 1em;
	padding-top: 3px;
	padding-bottom: 3px;
	padding-right: 10px;
	padding-left: 10px;
	display: none;
	margin: 0 auto;
	margin-top: 1px;
	border-top-right-radius: 5px;
	border-top-left-radius: 5px;
	-moz-border-top-right-radius: 5px;
	-moz-border-top-left-radius: 5px;
	-webkit-border-top-right-radius: 5px;
	-webkit-border-top-left-radius: 5px;
	opacity: 0.5;
	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
	filter: alpha(opacity=50);
	overflow: auto;
}
.metadata table {
	margin: auto auto;
	text-align: left;
	cursor: s-resize;
}
.metadata tr {
	height: 14px;
}

.metadata tr.gps {
	cursor: pointer;
}

.metadata-hide {
	display: none;
}

.album-button-and-caption .album-tags,
.thumb-and-caption-container .media-tags {
	text-align: center;
}

.album-button-and-caption .tags {
	font-size: 100%;
}

.thumb-and-caption-container .tags {
	font-size: 80%;
}

.tag {
	font-style: italic;
	font-variant: small-caps;
}

.tag a {
	color: inherit;
}

.tag a:hover {
	font-style: normal;
	font-weight: bold;
}

.leaflet-popup .thumb-and-caption-container .tag a {
	color: yellow;
}

#description-wrapper {
	position: fixed;
	z-index: 1;
	/*top: 80%;*/
	/*bottom: 20px;*/
	right: 20px;
	opacity: 0.3;
	filter: alpha(opacity=50); /* For IE8 and earlier */
	width: fit-content;
	max-width: 30%;
	overflow-y: hidden;
	word-wrap: break-word;
	line-height: 1em;
}

/* #description-wrapper.no .description-wrapper {
	display: none;
} */

#description-wrapper .description-wrapper-label {
		/* border: 1px white solid; */
		font-size: 70%;
		font-style: italic;
		width: fit-content;
		padding: 0.4em;
		padding-left: 0.7em;
		padding-right: 0.7em;
		text-align: center;
		float: right;
		background-color: orange;
		color: black;
		margin-left: 0.4em;
		margin-bottom: 0.2em;
}

#description-wrapper .description-wrapper {
		border: 2px white solid;
		width:auto;
}

#description-wrapper .description {
	padding: 0.6em 0.3em 0.2em 0.3em;
	border: 1px white solid;
	background-color: #222222;
	/* float: right; */
}

#description-hide-show {
	/* position: absolute; */
	bottom: 0;
	right: 0;
	font-size: 80%;
	width: fit-content;
	height: fit-content;
	background-color: #222222;
	display: block;
	float: right;
}

#description-wrapper .description-tags {
	/* position: absolute; */
	bottom: 0;
	right: 0;
	padding: .3em;
	background-color: black;
	/* width: fit-content; */
	height: fit-content;
	font-size: 85%;
	/* border: 1px white solid; */
}

#description-show, #description-show-1 {
	display: none;
	border: 1px white solid;
	opacity: .4;
}

#description-hide-show .description-hide-show {
	cursor: pointer;
	border-top: 2px white solid;
	border-right: 2px white solid;
	border-left: 1px white solid;
	border-bottom: 1px white solid;
	padding: 3px;
}

#description-wrapper .description,
#description-wrapper .description-title,
#description-wrapper .description-text,
#description-wrapper .description-tags {
	height: fit-content;
	display: block;
}

#description-wrapper .description-title {
	top: 0;
	font-weight: bold;
	padding: 0 0.3em 0.4em 0.3em;
}

#description-wrapper .description-text {
	overflow-y: auto;
	padding: 0.3em;
	/* padding-top: .3em;
	padding-bottom: .3em; */
	/* color: #FFAD27; */
}

#description-wrapper .description-title p,
#description-wrapper .description-text p,
#description-wrapper .description-text ul {
	color: #FFFFFF;
	margin-bottom: 0.3em;
	margin-top: 0.3em;
}

.exit-fullscreen {
	display: none;
}
.enter-fullscreen:not(.shortcut-help) {
	display: inline;
}

.menu-divider {
	padding-left: .5em;
	padding-right: .5em;
}

#powered-by {
	clear: both;
	text-align: center;
	font-size: 0.85em;
	font-style: italic;
	font-weight: bold;
	text-shadow: rgba(0,0,0,0.5) -1px 0, rgba(0,0,0,0.3) 0 -1px, rgba(255,255,255,0.5) 0 1px, rgba(0,0,0,0.3) -1px -2px;
	color: #FFAD27;
	margin: 2em;
}

.error,
.browsing-mode-message,
.sort-message,
.selection-message,
#error-overlay,
#auth-text,
.search-failed,
.messages {
	position: fixed;
	top: 0;
	/* left: 0; */
	/* width: 100%;
	height: 100%; */
	display: none;
	height: auto;
	padding: 15px;
	left: 5%;
	right: 5%;
	width: 85%;
	border: 10px solid lightgray;
	margin: 0 auto;
}

#loading {
	display: block;
}

.error,
.browsing-mode-message,
.sort-message,
.selection-message,
#auth-text,
.search-failed,
.messages {
	margin-top: 20%;
	text-align: center;
}

.error,
.browsing-mode-message,
.sort-message,
.selection-message,
.search-failed,
.messages {
	font-size: 250%;
	font-weight: bold;
	font-style: italic;
}

#you-can-suggest-single-media-position.messages {
	font-size: 2em;
}

.browsing-mode-message,
.sort-message,
.selection-message,
.messages {
	background-color: black;
	z-index: 1000;
	height: auto;
	opacity: .6;
}
#error-overlay {
	background-color: #000000;
}

#message-too-many-media {
	font-size: 1em;
	font-weight: bold;
	font-style: italic;
	display: none;
}

#show-hide-them {
	font-weight: bold;
	font-style: normal;
	cursor: pointer;
}

#show-hide-them:hover {
	color: orange;
}

/* .video-unsupported {
	background-image: url(../img/video-unsupported.png);
	background-position: top center;
	background-repeat: no-repeat;
	padding-top: 96px;
} */

.album-name, .media-name {
	/* padding: 0.5em; */
	margin: 0 0 0 0;
	font-weight: bold;
	font-size: 110%;
	font-style: italic;
	/* word-break: break-all; */
}

/* .leaflet-popup .media-name {
	color: white;
} */

.real-name {
	padding: 0;
	font-size: 80%;
}

.media-description {
	font-size: 95%;
}

.leaflet-popup .media-description {
	color: white;
	text-align: center;
}

.album-caption .description {
	font-size: 90%;
}

.thumb-and-caption-container {
	margin-bottom: 0;
	display: inline-grid;
}

.thumb-and-caption-container.highlighted-object .media-caption,
.album-button-and-caption.highlighted-object .album-caption,
#right-and-search-menu div.highlighted-menu .caption,
#right-and-search-menu li:not(.expandable).highlighted-menu,
#right-and-search-menu li.highlighted-menu .caption,
#right-and-search-menu ul ul li.highlighted-menu,
#menu-icon.expanded,
#search-icon.expanded,
#slideshow-icon.expanded {
	background-color: orange !important;
}

#search-menu form {
	display: inline-table;
}

#right-and-search-menu li.highlighted-menu .caption,
#right-and-search-menu ul ul li.highlighted-menu,
.highlighted-object .album-name[style],
.highlighted-object .album-description[style],
.highlighted-object .album-tags[style],
.highlighted-object .album-bottom[style],
.highlighted-object .real-name[style],
.highlighted-object .media-name[style],
.highlighted-object .sort-data[style],
.highlighted-object .description,
.highlighted-object .tags,
.highlighted-object .tag a,
.highlighted-object .album-caption-count,
.highlighted-object .title-media,
.highlighted-object .second-line .gray {
	color: black !important;
}

.highlighted-object .second-line a {
	color: darkslategray !important;
}

.thumb-container {
	position: relative;
	top: 0;
	white-space: nowrap;
	text-align: center;
}

.album-caption, .media-caption {
	display: block;
	text-align: center;
	overflow: hidden;
	margin-bottom: .2em;
	clear: both;
}

.media-caption.hidden,
.album-caption.hidden {
	margin-bottom: 0;
}

.media-caption {
	padding-top: .4em;
	font-size: 75%;
	white-space: normal;
}

.media-caption-coordinates {
	font-size: 70%;
}


.media-box .map-link {
	cursor: pointer;
}

#thumbs + a {
	display: inline-flex;
	text-decoration: none;
	cursor: pointer;
}

.sort img.opaque {
/*
	opacity: 0.25;
*/
	display: none;
	cursor: default;
}

/* .sort {
	display: none;
	white-space: nowrap;
} */

#social, #social:hover {
	opacity: 0.45;
	position: absolute;
	z-index: 1000;
}

#social:hover {
	opacity: 1;
}

#media-name-second-part,
#album-name-second-part {
	display: none;
}

.subalbum-number {
	font-size: 80%;
	font-weight: normal;
}

.with-second-part:hover #media-name-second-part,
.with-second-part.hovered #media-name-second-part {
	display: inline;
	font-size: 80%;
	font-variant: small-caps;
}


/* from https://www.w3schools.com/css/tryit.asp?filename=trycss_buttons_animate3 */
.button {
	display: inline-block;
	padding: 15px 25px;
	font-size: 24px;
	cursor: pointer;
	text-align: center;
	text-decoration: none;
	outline: none;
	color: #fff;
	background-color: #4CAF50;
	border: none;
	border-radius: 15px;
	box-shadow: 0 9px #999;
}

.button:hover {background-color: #3e8e41}

.button:active {
	background-color: #3e8e41;
	box-shadow: 0 5px #666;
	transform: translateY(4px);
}

#right-and-search-menu {
	list-style-type: none;
	list-style: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	float: right;
	max-width: 20em;
	position: fixed;
	top: 0;
	right: 0;
	z-index: 200;
	/* cursor: default; */
}

#right-and-search-menu #menu-icon:hover,
#right-and-search-menu #search-icon:hover,
#right-and-search-menu #slideshow-icon:hover,
#right-and-search-menu .info-icon:hover {
	background-color: transparent;
}

#right-and-search-menu #slideshow-icon {
	height: 20px;
	width: auto;
}

#right-and-search-menu #search-icon {
	height: 18px;
	width: auto;
	padding-top: 2px;
}

#right-and-search-menu #search-icon:hover,
#right-and-search-menu #search-icon.expanded,
#right-and-search-menu #slideshow-icon:hover,
#right-and-search-menu #slideshow-icon.expanded {
	height: 30px;
}

#right-and-search-menu #menu-icon,
#right-and-search-menu #search-icon,
#right-and-search-menu #slideshow-icon,
#right-and-search-menu .info-icon {
	float: right;
	display: inline-block;
}

#right-and-search-menu:not(.expanded) li {
	display: none !important;
}

#search-menu {
	margin-right: 33px;
}

#right-and-search-menu #padlock {
	display: inline-block;
	float: right;
	padding: 0;
	cursor: pointer;
}

#right-and-search-menu #search-icon,
#right-and-search-menu #slideshow-icon {
	cursor: pointer;
}

#right-and-search-menu {
	cursor: pointer;
}

#right-and-search-menu #menu-icon,
#right-and-search-menu .info-icon {
	width: 1em;
	cursor: pointer;
	float: right;
	text-align: right;
	font-style: normal;
	font-size: 16.5px;
}

#menu-icon,
#search-icon,
#slideshow-icon,
#padlock img,
#right-and-search-menu .info-icon {
	background-color: black;
	opacity: 50%;
	padding: .1em .3em;
}

#padlock img {
	height: 17px;
	width: auto;
	margin-top: 1px;
	margin-bottom: 0;
	padding-bottom: 0;
}

#right-and-search-menu #menu-icon {
	padding-top: 0;
	margin-top: -2px;
	font-size:	18px;
}

#right-and-search-menu #menu-icon:hover,
#right-and-search-menu #menu-icon.expanded,
#right-and-search-menu .info-icon:hover,
#right-and-search-menu .info-icon.expanded {
	font-size: 22px;
}

#right-and-search-menu .info-icon {
	font-size: 22px;
	font-weight: bold;
	/* border: 2px solid white; */
	width: auto;
	padding-top: 0;
	/* margin-top: -5px; */
}

#right-and-search-menu .info-icon:hover {
	font-size: 25px;
}

#right-and-search-menu img#search-button {
	height: 1.7em;
	cursor: pointer;
	position: relative;
	top: 7px;
}

#right-and-search-menu li.first-level:not(.expandable):not(.highlighted-menu):hover,
#right-and-search-menu li:not(.expanded) .caption:hover,
#right-and-search-menu li.active:not(.first-level):hover,
#right-and-search-menu #search-icon:hover,
#right-and-search-menu #slideshow-icon:hover,
#right-and-search-menu #menu-icon:hover,
#right-and-search-menu .info-icon:hover,
#right-and-search-menu #padlock img:hover,
#right-and-search-menu #padlock:hover {
	background-color: gray !important;
}

#right-and-search-menu #padlock img:hover {
	width: auto;
	height: 23px;
	float: right;
	padding-bottom: 10px;
}

#right-and-search-menu #padlock:hover {
	margin-left: .1em;
	padding-bottom: 0;
}
