@font-face {
        font-family: "LM Roman";
        font-weight: bold;
        font-style: normal;
        src: url("../fonts/lmroman10-bold.otf");
}
@font-face {
        font-family: "LM Roman";
        font-weight: bold;
        font-style: italic;
        src: url("../fonts/lmroman10-bolditalic.otf");
}
@font-face {
        font-family: "LM Roman";
        font-weight: normal;
        font-style: italic;
        src: url("../fonts/lmroman10-italic.otf");
}
@font-face {
        font-family: "LM Roman";
        font-weight: normal;
        font-style: normal;
        src: url("../fonts/lmroman10-regular.otf");
}

/* from https://stackoverflow.com/questions/75534600/trigger-dynamic-loading-of-css/75536489#75536489 */
@keyframes loadVerification {
  to {
    color: black;
  }
}
body {
  animation: loadVerification 100ms;
}
