@media (max-width: 600px) {
	.error, .browsing-mode-message, .sort-message, #auth-text, .search-failed, .messages {
		left: 1%;
		right: 1%;
		border: 10px solid lightgray;
		/* margin: 0 auto; */
		font-size: 150%;
	}

	#auth-question {
		font-size: 150%;
	}

	#auth-text .close-button {
		top: 5px;
		right: 5px;
	}

	#enter-your-data {
		font-size: 120%;
		margin-bottom: 1em;
	}

	.title-count {
		display: none;
	}
}

@media (max-height: 700px) {
	#subalbums .album-button-random-media-link,
	#thumbs .thumbnail-map-link,
	#subalbums .thumbnail-map-link,
	#thumbs .select-box,
	#subalbums .select-box,
	#select-box,
	#popup-images-wrapper .select-box {
		filter: alpha(opacity=60); /* For IE8 and earlier */
		opacity: .6;
	}

	#media-view {
		top: 0;
		bottom: 0;
		margin: 0;
	}

	.links {
		line-height: 29px;
		font-size: 100%;
	}

	#album-and-media-container.single-media #album-view,
	#album-and-media-container.single-media:not(.show-title) #media-view .title {
		display: none;
		height: 0;
	}

	#title {
		font-size: small;
		z-index: 1;
	}

	.error,
	.browsing-mode-message,
	.sort-message,
	#auth-text,
	.search-failed,
	.messages {
		left: 1%;
		right: 1%;
		width: 80%;
		border: 10px solid lightgray;
		margin: 0 auto;
		margin-top: 20%;
		font-size: 150%;
	}

	#auth-question {
		font-size: 120%;
	}

	#right-and-search-menu #menu-icon {
		font-size: 164%;
		padding: .1em .4em .1em .2em;
	}

	#right-and-search-menu #search-icon {
		height: 31px;
		width: 27px;
		padding: .1em .3em .1em .3em;
	}

	#right-and-search-menu #slideshow-icon {
		height: 31px;
		width: 27px;
		padding: .1em .3em .1em .3em;
	}

	.slideshow-button {
		opacity: 70%;
		padding-top: 10px;
		padding-bottom: 10px;
	}

	#started-slideshow-interval-wrapper {
		padding: 3px 10px 2px 10px;
	}

	#started-slideshow-interval {
		margin-top: 7px;
	}

	#started-slideshow-slow-down, #started-slideshow-speed-up {
		font-size: 150%;
		margin-bottom: 4px;
		margin-top: 2px;
	}

	#started-slideshow-interval, #started-slideshow-speed-up, #started-slideshow-slow-down {
		font-size: 139%;
	}

	#started-slideshow-slow-down {
		padding-left: 8px;
		padding-right: 8px;
		margin-right: 8px;
	}

	#started-slideshow-stop img, #started-slideshow-pause img, #started-slideshow-play img {
		height: 33px;
		width: 40px;
	}

	#started-slideshow-orientation-auto{
		padding: 5px;
	}

	#started-slideshow-orientation-auto img {
		height: 23px;
		width: 31px;
	}

	#padlock {
		margin-left: 1em;
		padding-bottom: 0;
	}

	#padlock img {
		width: 18px;
		height: 23px;
		float: right;
		padding-bottom: 10px;
		padding-right: 10px;
	}

	#menu-and-padlock {
		margin-left: ;
		padding-bottom: 0;
	}

	#right-and-search-menu li {
		line-height: 20px;
	}

	#my-modal .modal-close {
		top: 47px !important;
		right: 22px !important;
	}

	#you-can-suggest-single-media-position.messages {
		font-size: 1em;
	}

	#description-wrapper .description {
		padding: .3em 0;
		border-width: 2px;
	}

	#description-wrapper .description-text {
		padding: .3em;
		border-width: 2px;
	}

	#thumbs .thumbnail-map-link,
	#subalbums .thumbnail-map-link,
	#thumbs .select-box,
	#subalbums .select-box,
	#select-box,
	#popup-images-wrapper .select-box {
		opacity: .5;
	}

	a.title-anchor {
		color: orange !important;
	}

	.hidden-title {
		display: none;
	}
}
