@media (max-height: 700px) {
	#media-view {
		top: 0;
		bottom: 0;
		margin: 0;
	}
	#album-view.photo-view-container {
		display: none;
		height: 0;
	}
	#title {
		font-size: .8em;
		z-index: 1;
	}
	#album-sort-arrows, #media-sort-arrows {
		padding: 0 .5em;
		display: inline !important;
	}
	.links {
		display: inline !important;
		opacity: 0.5;
	}
}
