/* Popup box BEGIN */

.leaflet-popup-content-wrapper {
	color: #FFFFFF !important;
	background-color: slategray;
}

.map-popup-trigger, .map-popup-trigger-double {
	cursor: pointer;
	vertical-align: middle;
	/* font-size: 20px;
	margin: 20px;
	display: inline-block;
	font-weight: bold; */
}

.map-container{
	background:rgba(0,0,0,.4);
	cursor:pointer;
	display:none;
	height:100%;
	position:fixed;
	text-align:center;
	top:0;
	width:100%;
	z-index:10000;
}

@media (max-height: 700px) {
	.map-container{
		height: unset !important;
		/* width: 95%; */
		top: 5%;
	}
}
.map-container .helper{
	display: inline-block;
	height: 100%;
	vertical-align: middle;
}
.map-container > div {
	background-color: #fff;
	box-shadow: 10px 10px 60px #555;
	display: inline-block;
	height: auto;
	/* max-width: 85%; */
	min-height: 100px;
	vertical-align: middle;
	width: 100%;
	height: 100%;
	position: absolute;
	border-radius: 8px;
	padding: 10px;
}
.map-container #mapdiv {
	/* width: 99%;
	height: 99%; */
	color: black !important;
}

.close-button, #mapdiv .leaflet-popup-close-button, .popup-mover {
	background-color: #fff;
	border: 3px solid #999;
	border-radius: 50px;
	cursor: pointer;
	display: inline-block;
	font-family: arial;
	font-weight: bold;
	position: absolute;
	right: -20px;
	font-size: 0;
	line-height: 30px;
	width: 30px;
	height: 30px;
	text-align: center;
	color: white;
	z-index: 1;
	padding: 4px 2px 0 1px;
}

.leaflet-bottom.leaflet-right img {
	cursor: pointer;
}

#error-getting-current-location {
	z-index: 1000;
	color: black;
	background-color: white;
}

#error-getting-current-location-little {
		font-size: 30%;
		display: none;
		font-weight: normal;
		font-style: normal;
		line-height: 1.5em;
}

#error-getting-current-location-question-mark {
		font-size: 30%;
		color: white;
		background-color: gray;
		cursor: pointer;
}

.close-button, #mapdiv .leaflet-popup-close-button {
	top: -20px;
}

.close-button::after, #mapdiv .leaflet-popup-close-button::after {
	content: "✖";
}

.close-button::after, #mapdiv .leaflet-popup-close-button::after, .popup-mover::after {
	color: gray;
	font-size: 25px;
}

.map-marker-centered {
  background-image: url("images/fixed-marker.png");
  width: 47px;
  height: 47px;
  position: absolute;
  z-index: 500;
  left: calc(50% - 24px);
  top: calc(50% - 67px);
  transition: all 0.4s ease;
	display: none;
}

.map-marker-centered-send-suggestion {
	background-color: #fff;
	border: 3px solid #999;
	background-image: url("images/email.png");
	top: calc(50% - 67px);
	/* left: calc(50% + 30px);
	work around for #317: what makes problem with minifying is the + sign */
	left: calc(50% - 30px * (-1));
	width: 34px;
	height: 31px;
	z-index: 500;
	cursor: pointer;
	position: absolute;
	display: none;
	opacity: 0.7;
}

.map-marker-centered-send-suggestion:hover {
	opacity: 1;
}

.suggest-button {
	border: 2px white solid;
	padding: 5px;
	margin: 5px auto;
	cursor: pointer;
	max-width: 80%;
	font-size: 40%;
}

#mapdiv .shift-or-control .leaflet-popup-close-button {
	top: -10px;
	border-radius: 18px;
	right: -15px;
	line-height: 25px;
	width: 25px;
	height: 25px;
}

#mapdiv .shift-or-control .leaflet-popup-close-button::after {
	font-size: 20px;
}

.popup-mover {
	bottom: -20px;
}

.SE .popup-mover {
	left: -20px
}

.NW .popup-mover {
	right: -20px
}

.SE .popup-mover::after {
	content: "⭦";
}

.NW .popup-mover::after {
	content: "⭨";
}

.close-button:hover, a.leaflet-popup-close-button:hover, a.popup-mover:hover {
	background-color: #ccc;
	color: gray;
}

#mapdiv {
	height: 100%;
	cursor: pointer;
	color: black !important;
}

/* Popup box END */


.leaflet-popup-content {
	margin: 15px;
}

.leaflet-popup-content .media-caption {
	color: white;
}

/* .leaflet-popup-content {
	overflow-y: auto;
} */
#popup-images-wrapper {
	overflow-y: auto;
	text-align: center;
}

.leaflet-popup-content .thumb-and-caption-container {
	display: inline-block;
	vertical-align: top;
	cursor: pointer;
}

/* .leaflet-popup {
	position: absolute;
	background-color: white;
	-webkit-filter: drop-shadow(0 1px 4px rgba(0,0,0,0.2));
	filter: drop-shadow(0 1px 4px rgba(0,0,0,0.2));
	padding: 15px;
	border-radius: 10px;
	border: 1px solid #cccccc;
	width: max-content;
} */

/* .popup::after, .popup:before { */
#mapdiv .leaflet-popup::after {
	position: absolute;
	border: 18px solid transparent;
	content: "";
	height: 0;
	width: 0;
	pointer-events: none;
	color: black;
}

.leaflet-popup-scrolled {
	overflow: unset;
}

/* .popup:before {
	border-top-color: #cccccc;
	border-width: 11px;
	left: 48px;
	margin-left: -11px;
} */

#mapdiv .leaflet-popup.SE, #mapdiv .shift-or-control {
	left: -26px !important;
	top: 17px;
}

#mapdiv .leaflet-popup.SE::after, #mapdiv .shift-or-control::after {
	top: 0;
	left: 40px;
	border-bottom-color: slategray;
	border-top: 0;
	margin-left: -18px;
	margin-top: -18px;
  border-width: 0px 4px 18px;
}

#mapdiv .shift-or-control {
	margin-top: 18px;
	top: 0;
}

#mapdiv .shift-or-control::after {
	border-bottom-color: darkslategray;
}

#mapdiv .shift-or-control .leaflet-popup-content-wrapper {
	box-shadow: none;
	background-color: darkslategray;
}

#mapdiv .shift-or-control .leaflet-popup-content {
	text-align: center;
	font-size: 150%;
	width: 33px !important;
	min-width: 0 !important;
	cursor: pointer;
	z-index: 900;
	margin: 10px;
}

#mapdiv .shift-or-control .cluster-add, #mapdiv .shift-or-control .cluster-subtract {
	background-color: white;
	padding: 3px;
	display: block;
	width: 25px;
	height: 25px;
	text-align: center;
	text-decoration: none;
	font: bold 25px 'Lucida Console', Monaco, monospace;
	line-height: 25px;
	color: black !important;
	border: 2px solid black;
}

.dimmed {
	opacity: 0.2;
	font-weight: normal;
	cursor: default;
}

#mapdiv .shift-or-control .cluster-subtract {
	border-top: 1px solid #ccc;
}

#mapdiv .shift-or-control .cluster-add {
	border-bottom: 1px solid #ccc;
}

#mapdiv .leaflet-popup.NW {
	right: -25px;
	bottom: 16px;
	left: unset !important;
}

#mapdiv .leaflet-popup.NW::after {
	bottom: 0;
	right: 20px;
	border-top-color: slategray;
	border-bottom: 0;
	margin-bottom: -18px;
  border-width: 18px 4px 0px 4px;
}

#mapdiv .leaflet-marker-pane {
	text-align: left;
}

#mapdiv .leaflet-popup-tip {
	display: none;
}

/* for numbered markers */
.leaflet-div-icon {
	background: transparent;
	border: none;
}

.leaflet-marker-icon .number{
	position: relative;
	top: -42px;
	font-size: 12px;
	width: 25px;
	text-align: center;
}

#mapdiv {
	font-family: unset;
}

#mapdiv .media-caption {
	font-size: 110%;
}

#popup-image-count {
	text-align: center;
	font-size: 150%;
	margin-bottom: 5px;
	cursor: pointer;
}

#popup-image-count:hover {
	background-color: lightgray;
	color: black;
}

.leaflet-popup-scrolled {
	border-top: 0;
	border-bottom: 0;
}

/* The Modal (background) */
#my-modal.modal {
	display: none; /* Hidden by default */
	position: fixed; /* Stay in place */
	z-index: 11; /* Sit on top */
	/* padding-top: 10px; /* Location of the box */
	left: 0;
	top: 35px;
	width: 100%; /* Full width */
	height: 100%; /* Full height */
	overflow: auto; /* Enable scroll if needed */
	background-color: rgb(0,0,0); /* Fallback color */
	background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

#my-modal.modal.almost-hidden {
	opacity: 1% !important;
}

/* Modal Content */
#my-modal .modal-content {
	background-color: #fefefe;
	margin: auto;
	padding: 10px;
	border: 1px solid #888;
	width: 90%;
	height: 92%;
	overflow: auto;
}

/* The Close Button */
.close-button {
	color: #aaaaaa;
	float: right;
	font-size: 28px;
	font-weight: bold;
	position: absolute;
	top: 22px;
	right: 37px;
	z-index: 500;
}

#how-to-download-selection-close, #downloading-media-close {
	top: 20px;
	right: 20px;
}

.close-button:hover, .close-button:focus {
	color: #000;
	text-decoration: none;
	cursor: pointer;
	background-color: lightgray
}

/* this class is needed in order to calculate the scrollbar width */
.scrollbar-measure {
	width: 100px;
	height: 100px;
	overflow: scroll;
	position: absolute;
	top: -9999px;
}
